// Variables

@pr-white: #fff;
@pr-bidblue: #004E70;
@pr-grey: #F7F7F7;
@pr-dkgrey: #E2E2E2;
@pr-darker: #3C3B3B;
@pr-link: #0F9DD3;
@pr-orange: #F9B433;
@pr-green: #33AC42;


// HTML

html {
    font-family: 'GothamHTF-Book', sans-serif;
    font-size: 12px;
    background-color: @pr-dkgrey;
    color: @pr-darker;
}


// General classes

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.d-grid {
    display: -ms-grid;
    display: grid;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

// Titles

// Buttons
