// Variables

@hm_white: #fff;
@hm_bidblue: #215B9C;
@hm_bidorange: #FFA839;
@hm_bidlgblue: #29ABE2;


// HTML

html {
    font-family: 'GothamHTF-Book', sans-serif;
    font-size: 12px;
}


// General classes

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

// Titles

.slide-title {
    font-size: 1.6rem;
    text-transform: uppercase;
}

h2 {
    margin: 0 0 30px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: @hm_bidblue;
    text-transform: uppercase;
    text-align: center;
}


// Buttons

.btn {
    display: block;
    margin: 30px auto;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid;
    border-radius: 0;
}

.btn-primary {
    color: @hm_bidlgblue;
    border-color: @hm_bidlgblue;
    background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover {
    color: @hm_white;
    background-color: @hm_bidlgblue;
    border-color: @hm_bidlgblue;
    text-decoration: none;
}

.btn-secondary {
    color: @hm_white;
    border-color: @hm_white;
    background-color: transparent;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:hover {
    color: @hm_bidblue;
    background-color: @hm_white;
    border-color: @hm_white;
    text-decoration: none;
}

.btn-alt {
    color: @hm_bidblue;
    border-color: @hm_bidblue;
    background-color: transparent;
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active,
.btn-alt:active:hover {
    color: @hm_white;
    background-color: @hm_bidblue;
    border-color: @hm_bidblue;
    text-decoration: none;
}


// Layout

.hm-section {
    margin: 30px 0;
}


// Backgrounds

.hm-section {
    background-position: center center;
    background-repeat: repeat;
}

// Slider general


.slick-dots {
    width: 300px;

    li {
        width: 10px;
        height: 10px;
        margin: 0 10px;

        button:before {
            width: 10px;
            height: 10px;
            top: 5px;
            border-radius: 50%;
            background-color: @hm_bidblue;
            opacity: .8;
            
        }

        &.slick-active {
            margin: 0 10px;
            width: 20px;
            height: 20px;

            button:before {
                width: 20px;
                height: 20px;
                top: 0;
                color: transparent;
                background-color: transparent;
                border: 7px solid @hm_bidblue;
                opacity: 1;
            }
        }
    }
}

.slick-prev, 
.slick-next {
    width: 20px;
    height: 30px;
    z-index: 2;
}





// Main Slider

.home-slider {
    position: relative;

    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slide {
        position: relative;
        height: 700px;
        width: 100vw;
        background-size: cover;

        .slide-content {
            height: 500px;
            margin: 120px 0 0;
            padding: 30px 60px;
            background-color: @hm_white;
            color: @hm_bidblue;
            opacity: .8;

            &:hover {
                opacity: .8;
                text-decoration: none;
            }

            .slide-title {
                position: relative;
                margin-bottom: 30px;
                text-align: center;

                &::after {
                    content: "";
                    display: block;
                    margin: 15px auto;
                    width: 40%;
                    height: 10px;
                    background-color: @hm_bidorange;
                }
            }

            .slide-info {
                font-size: 1.4rem;
                text-align: center;
            }

            .slide-anchor {
                display: block;
                margin-top: 15px;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;

                &::after {
                    content: "";
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    margin-left: 5px;
                    background-image: url(../img/icons/right.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .slick-arrow {
        position: absolute;
        width: 15px;
        height: auto;

        &.slick-prev {
            left: 15px;
        }
        &.slick-next {
            right: 15px;
        }
    }

    .slick-dots {
        width: 100%;
        position: absolute;
        bottom: 120px;
    }
}


// Sub nav

.home-subnav {
    padding: 15px 0;
    background-color: @hm_bidblue;

    .nav-left, 
    .nav-right {
        text-align: center;

        a {
            color: @hm_white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.4rem;
         }
    }
}




 // Video

 // NOTE: This code should be deleted in production as it's just a placeholder
 .hm-video {
    width: 100%;
    height: auto;
    img {
        max-width: 100%;
    }
 }







// Past events

.hm-pastevents-container {
    background-image: url(../img/sections/line-2.png);
    background-repeat: no-repeat;

    .hm-pstevent-image {
       position: relative;
       overflow: hidden;
       margin-bottom: 15px;
    }

    .hm-pstevent-bg {
        width: 100%;
        height: auto;
    }

    .hm-pstevent-title {
       position: absolute;
       top: 30px;
       left: 0;
       width: 100%;
       padding: 10px;
       letter-spacing: 5px;
       font-size: 1.2rem;
       line-height: 1.8rem;
       text-transform: uppercase;
       text-align: center;
       color: @hm_white;
       background: transparent;

       .play-icon {
           display: block;
            width: 37px;
            height: 37px;
            margin: 10px auto;
            background-image: url(../img/icons/play.png); 
       }
       
    }

    iframe {
        width: 100%;
        height: 250px;
    }

}





// Next events

.hm-events-container {
    background-image: url(../img/sections/line-1.png);
    background-repeat: no-repeat;


    .hm-events-slider {
        margin: 0 -15px;
    

        .hm-event-slide {
            padding: 0 45px;

            .hm-event {
                height: 350px;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 20px;
                background-color: @hm_white;
                border: 2px solid @hm_bidblue;

                &:hover {
                    color: @hm_white;
                    background-color: @hm_bidblue;
                    text-decoration: none;

                    .hm-event-date {
                        border-bottom: 2px solid @hm_white;
                    }
                }

                .hm-event-date {
                    display: block;
                    padding-bottom: 10px;
                    font-size: 1.3rem;
                    font-weight: 600;
                    border-bottom: 2px solid @hm_bidblue;
                }

                .hm-event-title {
                    margin: 15px 0 0;
                    font-size: 1.3rem;
                    line-height: 1.8rem;
                    font-weight: 400;
                    text-transform: uppercase;;
                }

                .hm-event-time,
                .hm-event-city {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
        }

        .slick-prev, 
        .slick-next {
            top: 42%;
        }

        .slick-prev {
            left: 15px;
        }
        .slick-next {
            right: 15px;
        }

        .slick-dots {
            position: relative;
            bottom: unset;
            width: 100%;
            margin: 50px 0;
        }

    }

}


// Documents

.hm-docs-container {
    background-image: url(../img/sections/documents_bg_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;

    .hm-docs-slider {
        margin: 15px 0 45px;
        padding: 15px;

        .hm-dc-img {
            width: 100%;
            height: 200px;
            margin-bottom: 15px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .hm-dc-infocontainer {
            padding: 0 30px 0;
            .hm-dc-title {
                color: @hm_white;
                margin-bottom: 15px;
                padding-bottom: 10px;
                border-bottom: 2px solid @hm_white;
                text-align: center;
            }

            .hm-dc-info {
                color: @hm_white;
                font-size: 1.6rem;
                line-height: 2.2rem;
                text-align: center;
            }

            .btn {
                margin: 30px auto;
            }
        }

        .slick-dots {
            width: 100%;
            left: 0;
            bottom: 5px;

            li button:before {
                background-color: @hm_white;
            }

            li.slick-active button:before {
                background-color: @hm_bidblue;
                border-color: @hm_white;
            }
        }

        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }

    }

}



// Highlights

.hm-highlights-container {

    .hm-hg-titlecontainer {
        position: relative;
        text-align: center;

        .hm-hg-title {
            display: inline-block;
            margin-bottom: 30px;

            &:after {
                content: "";
                display: block;
                margin: 10px auto;
                width: 30%;
                height: 6px;
                background-color: @hm_bidorange;
            }
        }
    }

    .hm-hg-item {
        margin-bottom: 15px;
        text-align: center;
        .hm-hg-icon {
            margin-bottom: 10px;
            max-width: 80px;
            height: auto;
        }
        .hm-hg-info {
            display: block;
            text-transform: uppercase;

            &:not(.hm-hg-bigger) {
                font-size: 1.4rem;
                line-height: 2rem;
            }
            &.hm-hg-bigger {
                margin-bottom: 5px;
                font-size: 3rem;
                line-height: 3rem;
                font-weight: 600;
            }
        }

        &:nth-child(odd) {
            .hm-hg-info {
                color: @hm_bidblue;
            }
        }
        &:nth-child(even) {
            .hm-hg-info {
                color: @hm_bidlgblue;
            }
        }
    }
}



// Improving Lives

.hm-implives-container {

    .hm-implives-slider {
        margin: 30px 0 90px;
        padding: 15px 0;

        .hm-il-slide {
            position: relative;
            padding: 45px 0;
            background-position: center center;
            background-size: cover;

            .hm-il-infocontainer {
                height: 600px;
                padding: 30px 45px 120px;
                background-color: rgba(255,255,255,0.8);

                .hm-il-titlecontainer {
                    position: relative;
                    text-align: center;

                    .hm-il-title {
                        display: inline-block;

                        &:after {
                            content: "";
                            display: block;
                            margin: 10px auto;
                            width: 30%;
                            height: 6px;
                            background-color: @hm_bidorange;
                        }
                    }
                }

                .hm-il-info {
                    text-align: center;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: @hm_bidblue;

                }

                &:after {
                    content: url(../img/placeholders/mejorando-vidas-logo.png);
                    position: absolute;
                    bottom: 70px;
                    right: 30px;
                }
            }
        }
        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
        }

        .slick-dots {
            width: 100%;
            bottom: 160px;
        }
    }

}

.hm-social-container {

    .hm-social-icon {
        display: block;
        width: 50px;
        margin: 0 auto 30px;
    }

// This code should be deleted in production
.social-placeholder {
    margin-bottom: 45px;
}


}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {


    // General

    h2 {
       margin: 30px 0 60px;
    }

    // Backgrounds

    .hm-section {
        background-repeat: no-repeat;
    }

    // Layout

    .hm-section {
        margin: 30px 0 60px;
    }


    // Main slider


    .home-slider {

        .slide {
            .slide-content {
                width: 60%;
                bottom: 22%;
                right: 0;
                padding: 30px 240px 80px 120px;

                .slide-title {
                    &::after {
                        left: -160px;
                        bottom: -25px;
                        width: 240px;
                    }
                }
            }
        
        }

        .slick-arrow {
            bottom: 40%;
            top: auto;
        }

        .slick-prev {
            left: 800px;
        }

        .slick-next {
            right: 200px;
        }

        .slick-dots {
            bottom: 200px;
            right: 500px;
        }

    }











    // Sub nav

    .home-subnav .nav-left a,
    .home-subnav .nav-right a {
        margin: 0 30px;
    }   
     
    .home-subnav .nav-left {
        text-align: right;
    }

    .home-subnav .nav-right {
        text-align: left;
    }



    .home-subnav .nav-left a,
.home-subnav .nav-right a {
    color: @hm_white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
 }



 // Next events

 .hm-event-slide {
            padding: 0 15px;
        }




// Documents

.hm-docs-container {
    background-image: url(../img/sections/documents_bg.png);
    .hm-docs-slider {
        margin: 60px -15px 90px;
        padding: 15px;

        .hm-dc-img {
            width: 100%;
            height: 370px;
        }

        .hm-dc-infocontainer {
            padding: 0;
        }
    }
}


// Highlights

.hm-highlights-container {

    .hm-hg-titlecontainer {
        position: relative;
        text-align: center;

        .hm-hg-title {
            display: inline-block;

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 100px;
                bottom: 45px;
                width: 258px;
                height: 6px;
                background-color: @hm_bidorange;
            }
        }
    }
}





// Improving lives


.hm-implives-container {

    .hm-implives-slider {
        margin: 30px 0 90px;
        padding: 15px 0;

        .hm-il-slide {
            position: relative;
            padding: 45px 0;
            background-position: center center;
            background-size: cover;

            .hm-il-infocontainer {
                height: 350px;

                .hm-il-titlecontainer {
                    position: relative;
                    text-align: center;

                    .hm-il-title {
                        display: inline-block;

                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 490px;
                            bottom: 45px;
                            width: 150px;
                            height: 6px;
                            background-color: @hm_bidorange;
                        }
                    }
                }
            }
        }
    }

    .slick-prev {
            left: 290px;
        }

        .slick-next {
            right: 290px;
        }

        .slick-dots {
            width: 100%;
            bottom: 105px;
        }
}



}

@media (min-width: 1200px) {

}