html {
  font-family: 'GothamHTF-Book', sans-serif;
  font-size: 12px;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.slide-title {
  font-size: 1.6rem;
  text-transform: uppercase;
}
h2 {
  margin: 30px 0 60px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #215B9C;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  display: block;
  margin: 30px auto;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border: 2px solid;
  border-radius: 0;
}
.btn-primary {
  color: #29ABE2;
  border-color: #29ABE2;
  background-color: transparent;
}
.btn-primary:hover {
  color: #fff;
  background-color: #29ABE2;
  border-color: #29ABE2;
  text-decoration: none;
}
.btn-secondary {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}
.btn-secondary:hover {
  color: #215B9C;
  background-color: #fff;
  border-color: #fff;
  text-decoration: none;
}
.btn-alt {
  color: #215B9C;
  border-color: #215B9C;
  background-color: transparent;
}
.btn-alt:hover {
  color: #fff;
  background-color: #215B9C;
  border-color: #215B9C;
  text-decoration: none;
}
.hm-section {
  margin: 30px 0 60px;
}
.hm-section {
  background-position: center center;
  background-repeat: no-repeat;
}
.slick-dots {
  width: 300px;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.slick-dots li button:before {
  width: 10px;
  height: 10px;
  top: 5px;
  border-radius: 50%;
  background-color: #215B9C;
  opacity: 0.8;
}
.slick-dots li.slick-active {
  margin: 0 10px;
  width: 20px;
  height: 20px;
}
.slick-dots li.slick-active button:before {
  width: 20px;
  height: 20px;
  top: 0;
  color: transparent;
  background-color: transparent;
  border: 7px solid #215B9C;
  opacity: 1;
}
.slick-prev,
.slick-next {
  width: 20px;
  height: 30px;
}
.home-slider {
  position: relative;
  margin-bottom: 0;
}
.home-slider .slide {
  position: relative;
  height: 700px;
}
.home-slider .slide img {
  position: absolute;
  bottom: -50px;
}
.home-slider .slide .slide-content {
  position: absolute;
  bottom: 22%;
  right: 0;
  padding: 60px 30px;
  background-color: #fff;
  color: #215B9C;
  opacity: 0.8;
}
.home-slider .slide .slide-content:hover {
  opacity: 0.8;
  text-decoration: none;
}
.home-slider .slide .slide-content .slide-title {
  position: relative;
  margin-bottom: 45px;
  text-align: left;
}
.home-slider .slide .slide-content .slide-title::after {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  bottom: -25px;
  width: 150px;
  height: 10px;
  background-color: #FFA839;
}
.home-slider .slide .slide-content .slide-info {
  font-size: 1.4rem;
}
.home-slider .slide .slide-content .slide-anchor {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}
.home-slider .slide .slide-content .slide-anchor.home-slider .slide .slide-content .slide-anchor::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 5px;
  background-image: url(../img/icons/right.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.home-slider .slick-arrow {
  position: absolute;
  width: 15px;
  height: auto;
  z-index: 2;
}
.home-slider .slick-dots li button {
  color: #215B9C;
}
.home-subnav {
  padding: 15px 0;
  background-color: #215B9C;
}
.home-subnav .nav-left a,
.home-subnav .nav-right a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
}
.hm-video {
  width: 100%;
  height: 445px;
  background-image: url(../img/placeholders/video-placeholder.png);
  background-size: cover;
}
.hm-pastevents-container {
  background-image: url(../img/sections/line-2.png);
  background-repeat: no-repeat;
}
.hm-pstevent-image {
  position: relative;
  overflow: hidden;
}
.hm-pstevent-bg {
  width: 100%;
  height: auto;
}
.hm-pstevent-title {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 10px;
  letter-spacing: 5px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: transparent;
}
.hm-pstevent-title .play-icon {
  display: block;
  width: 37px;
  height: 37px;
  margin: 10px auto;
  background-image: url(../img/icons/play.png);
}
iframe {
  width: 100%;
  height: 250px;
}
.hm-events-container {
  background-image: url(../img/sections/line-1.png);
  background-repeat: no-repeat;
}
.hm-events-container .hm-events-slider {
  margin: 0 -15px;
}
.hm-events-container .hm-events-slider .hm-event-slide {
  padding: 0 15px;
}
.hm-events-container .hm-events-slider .hm-event-slide .hm-event {
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #215B9C;
}
.hm-events-container .hm-events-slider .hm-event-slide .hm-event:hover {
  color: #fff;
  background-color: #215B9C;
  text-decoration: none;
}
.hm-events-container .hm-events-slider .hm-event-slide .hm-event:hover .hm-event-date {
  border-bottom: 2px solid #fff;
}
.hm-events-container .hm-events-slider .hm-event-slide .hm-event .hm-event-date {
  display: block;
  padding-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 2px solid #215B9C;
}
.hm-events-container .hm-events-slider .hm-event-slide .hm-event .hm-event-title {
  margin: 15px 0 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.hm-events-container .hm-events-slider .hm-event-slide .hm-event .hm-event-time,
.hm-events-container .hm-events-slider .hm-event-slide .hm-event .hm-event-city {
  display: block;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 500;
}
.hm-events-container .hm-events-slider .slick-prev,
.hm-events-container .hm-events-slider .slick-next {
  top: 45%;
}
.hm-events-container .hm-events-slider .slick-dots {
  position: relative;
  bottom: unset;
  width: 100%;
  margin: 50px 0;
}
.hm-docs-container {
  background-image: url(../img/sections/documents_bg.png);
  background-repeat: no-repeat;
}
.hm-docs-container .hm-docs-slider {
  margin: 60px -15px 90px;
  padding: 15px;
}
.hm-docs-container .hm-docs-slider .hm-dc-img {
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hm-docs-container .hm-docs-slider .hm-dc-title {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  text-align: left;
}
.hm-docs-container .hm-docs-slider .hm-dc-info {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: left;
}
.hm-docs-container .hm-docs-slider .btn {
  margin: 30px 0;
}
.hm-docs-container .hm-docs-slider .slick-dots {
  width: 100%;
}
.hm-highlights-container .hm-hg-titlecontainer {
  position: relative;
  text-align: center;
}
.hm-highlights-container .hm-hg-titlecontainer .hm-hg-title {
  display: inline-block;
}
.hm-highlights-container .hm-hg-titlecontainer .hm-hg-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 100px;
  bottom: 45px;
  width: 258px;
  height: 6px;
  background-color: #FFA839;
}
.hm-highlights-container .hm-hg-item {
  text-align: center;
}
.hm-highlights-container .hm-hg-item .hm-hg-icon {
  margin-bottom: 10px;
  max-width: 80px;
  height: auto;
}
.hm-highlights-container .hm-hg-item .hm-hg-info {
  display: block;
  text-transform: uppercase;
}
.hm-highlights-container .hm-hg-item .hm-hg-info:not(.hm-hg-bigger) {
  font-size: 1.4rem;
  line-height: 2rem;
}
.hm-highlights-container .hm-hg-item .hm-hg-info.hm-hg-bigger {
  margin-bottom: 5px;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}
.hm-highlights-container .hm-hg-item:nth-child(odd) .hm-hg-info {
  color: #215B9C;
}
.hm-highlights-container .hm-hg-item:nth-child(even) .hm-hg-info {
  color: #29ABE2;
}
.hm-implives-container .hm-implives-slider {
  margin: 60px 0 90px;
  padding: 15px 0;
}
.hm-implives-container .hm-implives-slider .hm-il-slide {
  position: relative;
  padding: 45px 0;
  background-position: center center;
  background-size: cover;
}
.hm-implives-container .hm-implives-slider .hm-il-slide .hm-il-infocontainer {
  height: 350px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}
.hm-implives-container .hm-implives-slider .hm-il-slide .hm-il-infocontainer .hm-il-titlecontainer {
  position: relative;
  text-align: center;
}
.hm-implives-container .hm-implives-slider .hm-il-slide .hm-il-infocontainer .hm-il-titlecontainer .hm-il-title {
  display: inline-block;
}
.hm-implives-container .hm-implives-slider .hm-il-slide .hm-il-infocontainer .hm-il-titlecontainer .hm-il-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 490px;
  bottom: 45px;
  width: 150px;
  height: 6px;
  background-color: #FFA839;
}
.hm-implives-container .hm-implives-slider .hm-il-slide .hm-il-infocontainer .hm-il-info {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #215B9C;
}
.hm-implives-container .hm-implives-slider .hm-il-slide .hm-il-infocontainer:after {
  content: url(../img/placeholders/mejorando-vidas-logo.png);
  position: absolute;
  bottom: 70px;
  right: 30px;
}
.hm-implives-container .hm-implives-slider .slick-prev {
  left: 290px;
  z-index: 2;
}
.hm-implives-container .hm-implives-slider .slick-next {
  right: 290px;
}
.hm-implives-container .hm-implives-slider .slick-dots {
  width: 100%;
  bottom: 105px;
}
.hm-social-container .hm-social-icon {
  display: block;
  width: 50px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .home-slider .slide .slide-content {
    width: 60%;
    padding: 30px 240px 80px 120px;
  }
  .home-slider .slide .slide-content .slide-title::after {
    left: -160px;
    bottom: -25px;
    width: 240px;
  }
  .home-slider .slick-arrow {
    bottom: 40%;
    top: auto;
  }
  .home-slider .slick-prev {
    left: 800px;
  }
  .home-slider .slick-next {
    right: 200px;
  }
  .home-slider .slick-dots {
    bottom: 200px;
    right: 500px;
  }
  .home-subnav .nav-left a,
  .home-subnav .nav-right a {
    margin: 0 30px;
  }
  .home-subnav .nav-left {
    text-align: right;
  }
  .home-subnav .nav-right {
    text-align: left;
  }
}
